.pos, .deal, .brand{
    cursor: pointer;
    position: absolute;
    font-size: 15px;
    text-decoration: underline;
    font-weight: 400;
    font-family: "Open Sans";
}
.pos{
    bottom: 32px;
    left: 675px;
}

.slider-container > .slick-slider > .slick-prev{
    left: 10px;
    z-index: 1;
    width: 32px;
    height: 61px;
}
.slider-container > .slick-slider > .slick-next {
    right: 10px;
    z-index: 1;
    width: 32px;
    height: 61px;
}
.slider-container > .slick-slider > .slick-prev::before {
    content: "<";
    color: white;
    font-size: 20px;
}
.slider-container > .slick-slider > .slick-next::before{
    content: ">";
    color: white;
    font-size: 20px;
}
.slider-container > .slick-slider > .slick-prev:hover, 
.slider-container > .slick-slider > .slick-next:hover {
    background-color: white;
}
.slider-container > .slick-slider > .slick-prev:hover::before, 
.slider-container > .slick-slider > .slick-next:hover::before {
    color: black;
}
.u-50-product > .slick-slider > .slick-list > .slick-track, 
.container > .slick-slider > .slick-list > .slick-track{
    display: flex;
    gap: 20px;
}
.u-50-product > .slick-slider > .slick-prev, .u-50-product > .slick-slider > .slick-next, 
.container > .slick-slider > .slick-prev, .container > .slick-slider > .slick-next{
    z-index: 1;
    width: 35px;
    height: 50px;
}
.u-50-product > .slick-slider > .slick-next{
    right: -36px;
}
.u-50-product > .slick-slider > .slick-prev:hover, .u-50-product > .slick-slider > .slick-next:hover, 
.container > .slick-slider > .slick-prev:hover, .container > .slick-slider > .slick-next:hover{
    background-color: rgba(5, 5, 247, 0.5);
    /* opacity: 0.75; */
}
.u-50-product > .slick-slider > .slick-prev::before,
.container > .slick-slider > .slick-prev::before{
    content: "<";
}
.u-50-product > .slick-slider > .slick-next::before,
.container > .slick-slider > .slick-next::before{
    content: ">";
}
.u-50-product > .slick-slider > .slick-prev::before, .u-50-product > .slick-slider > .slick-next::before,
.container > .slick-slider > .slick-prev::before,  .container > .slick-slider > .slick-next::before{
    color: blue;
    font-size: 20px;
}
.container > .slick-slider > .slick-prev::before:hover,  .container > .slick-slider > .slick-next::before:hover{
    color: transparent;
}
.card-img{
    position: relative;
}
.card-background{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 99%;
    background-color: #191a1b;
    opacity: 0.03;
}
.deal {
    right: 258px;
    top: 60px;
    color: white;
}

.container > .slick-slider > .slick-prev {
    left: 25px;
}
.container > .slick-slider > .slick-next{
    right: 10px;
}
.brand {
    bottom: 30px;
    left: 135px;
    color: #fff;
}
.active {
    border-bottom: 5px Solid blue;
}
.signup{
    display: none;
}
.dropdown{
    left: 0px;
    background-color: white;
    z-index: 1000;
    width: 100%;
}