
.offer-div{
    font-family: "Open Sans", sans-serif;
}
.link {
    text-decoration: underline;
}
.icon{
    position: relative;
    left: 42px;
    bottom: 2px
}
.css-o0etnn, .css-12lkqqy, .css-1gjy5r9, .css-1gjy5r9{
    padding-inline: 0 !important;
}
